body{
    margin: 0;
    background: #ffffff;
    font-family: sans-serif;
    color: black;
}
.header1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 30px;
}
header h1{
    color: #26da26;
    font-family: cursive;
    margin: 0;
}
/*===== Button ===== */
button{
    border-radius: 5px;
    padding: 8px 14px;
    border: none;
    background: black;
    cursor: pointer;
}
button a{
    color: white;
    text-decoration: none;
}
/* poora box hover*/
button:hover{
    background: #2f363d;
} 
/* button ka ander text */
button a{
    color: white;
    text-decoration: none;
}
.container{
    text-align: center;
    padding: 40px 20px;
    background: #edf2f4;
}
.container h2{
    margin-bottom: 30px;
}
/*====== Table ======*/
table{
    width: 80%;
    max-width: 500%;
    margin: auto;
    border-collapse: collapse;
}
table th,td{
    font-size: 14px;
    padding: 12px;
    border: 1px solid#777777;
}
table th{
    background: #edf2f4;
}
table td{
    vertical-align: middle;
}

/*====== Course ======*/
.course{
    font-weight: bold;
    width: 220px;
}
/*====== Footer ======*/
footer{
    text-align: center;
    padding: 15px;
    margin-top: 35px;
    font-size: 14px;   
}