h3 span{
    border-left: 3px solid black;
    padding-left: 8px;
}
header nav{
    background-color: #003049;
}
footer{
    background-color: #003049;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
main .text1{
    border-bottom: 1px solid black;
}
main .box1{
    border: 1px solid black;
    height: 15vh;
}
.box2{
    height: 15vh;
    background-color: #003049;
    color: white;
}
/* Second section  */
.box3,.box4{
    border: 1px solid black;
     min-height: 30vh;
}
.box4{
    min-height: 30vh;
}
